.is-rtl .project * {
  direction: rtl !important;
  unicode-bidi: embed !important;
}

.is-rtl .project {
  text-align: right !important;
}

.is-rtl a.expand {
  transform: scaleX(-1) !important;
  right: 26px !important;
  left: unset !important;
}

.is-rtl a.bullet {
  right: 48px !important;
  left: unset !important;
}

.is-rtl div.children div.name {
  right: -48px;
  margin-right: 0px !important;
  padding-right: 72px !important;
  margin-left: unset !important;
  padding-left: unset !important;
}

.is-rtl div.children div.children {
  right: -1px;
  margin-right: 10px !important;
  padding-right: 24px !important;
  border-right: 1px solid rgb(236, 238, 240) !important;
  margin-left: unset !important;
  padding-left: unset !important;
  border-left: none !important;
}

.is-rtl :not(.children) .menu.itemMenu {
  right: 4px !important;
  left: unset !important;
}
.is-rtl .children .menu.itemMenu {
  right: -6px !important;
}

.is-rtl .addSiblingButton {
  right: -11px !important;
  left: unset !important;
}

.btn_toggle_rtl {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}