.is-rtl .project * {
  direction: rtl;
  unicode-bidi: embed;
}

.is-rtl .project {
  text-align: right !important;
}

.is-rtl a.expand {
  transform: scaleX(-1) !important;
  right: 26px !important;
  left: unset !important;
}

.is-rtl a.bullet {
  right: 48px !important;
  left: unset !important;
}

.is-rtl div.children div.name {
  right: -48px;
  margin-right: 0px !important;
  padding-right: 72px !important;
  margin-left: unset !important;
  padding-left: unset !important;
}

.is-rtl div.children div.children {
  right: -1px;
  margin-right: 10px !important;
  padding-right: 24px !important;
  border-right: 1px solid rgb(236, 238, 240) !important;
  margin-left: unset !important;
  padding-left: unset !important;
  border-left: none !important;
}

.is-rtl .menu.itemMenu {
  right: 0px;
  left: unset;
}