.is-rtl {
    direction:rtl;
    unicode-bidi: embed;
  }
  .is-ltr {
    direction:ltr;
    unicode-bidi: embed;
  }
  ._oqw2mn > div > div > ._1q9c2s1 {
    display: block;
    position: absolute;
    right: -25px;
    left: 501px;
    top: 7px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    color: rgb(75, 81, 85);
}
._1wbge1a > div > div > ._1q9c2s1 {
  display: block;
  position: absolute;
  right: 0px;
  top: 7px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  color: rgb(75, 81, 85);
}
.readjust{
  right: 20px;
}
